$Inter: 'Inter';

.redigera-button{
    font-family: $Inter;
    border-radius: 1.3rem;
    font-size: 1.25rem;
    font-weight: 400;
    width: 9rem;
    height: 3rem;
    cursor: pointer;
}
.ta-bort-button{
   background-color: red;
   border-radius: 1.3rem;
   font-family: $Inter;
   font-size: 1.25rem;
   font-weight: 400;
   width: 9rem;
   height: 3rem;
   margin-right: 1.5rem;
   cursor: pointer;
}
.actions-buttons-container{
    display: flex;
}
@media (max-width: 1024px){
    .actions-buttons-container {
        width: 20rem;
        flex-wrap: nowrap;
        margin-top: 1rem;
        justify-content: flex-start;
        overflow-x: auto;
      }
}
